{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Reservation{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/style-reservation.css') }}" rel="stylesheet"/> 
{% endblock %}  
{% block body %}
    <h1>Réserver Maintenant</h1>

    {{ include('admin_reservation/reservation/_form.html.twig') }}   

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/repare.js') }}"></script>
    <script src="{{ asset('js/horaire.js') }}"></script>
    <script src="{{ asset('js/capacite.js') }}"></script>
{% endblock %}
