{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Admin reservations{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/admin.css') }}" rel="stylesheet"/> 
{% endblock stylesheets %}

{% block body %}
        <article class="reservation">
                <h1>Les réservations</h1>
                <section>

                        {% for date, reservations in reservationsByDate %}
                        <div>
                                <h2>{{ date }}</h2>
                                <ul>
                                        {% for reservation in reservations %}
                                        <li>{{ reservation.email }}</li>
                                        <li>{{ reservation.nmbrcouvert }}</li>
                                        <li>{{ reservation.heure }}</li>
                                        <li>{{ reservation.allergie }}</li>
                                        {% endfor %}
                                </ul>
                        </div>
                        {% endfor %}
                        
                </section>
        </article>

{% endblock %}
