{% extends 'base.html.twig' %}

{% block title %}Modifier le plat "{{plat.name}}" {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/style-connexion.css') }}" rel="stylesheet"/> 
{% endblock %}


{% block body %}
    <h1>Modifier le plats</h1>

    {{ include('carte/plats/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_carte_indexedit') }}">Retour au menu</a>

    {{ include('carte/plats/_delete_form.html.twig') }}
    
{% endblock %}
