{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Panneau Administrateur{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/admin.css') }}" rel="stylesheet"/> 
{% endblock stylesheets %}


{% block body %}
  <div class="link-contain" >
    <div class="link-container link-containera">
      <a href='{{ path('app_images_index') }}'>Vos Images</a>
    </div>
    <div class="link-container link-containerb">
      <a href='{{ path('app_carte_indexedit') }}'>Gerer votre menus</a>
    </div>
    <div class="link-container link-containera">
      <a href='{{ path('app_admin_reservation') }}'>Reservations</a>
    </div>
    <div class="link-container link-containerb">
      <a href='{{ path('app_horaire') }}'>Mettez a jours vos horaires</a> </div> 
    <div class="link-container link-containera">
      <a href="{{ path('app_users_index') }}">gestion utilisateur</a>
    </div>
  </div>

{% endblock %}


