{% extends 'base.html.twig' %}

{% block title %}Menus{% endblock %}

{% block body %}
    <h1>Menus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menu.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ menu.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_carte_indexedit') }}">back to list</a>

    <a href="{{ path('app_menus_edit', {'id': menu.id}) }}">edit</a>

    {{ include('carte/menus/_delete_form.html.twig') }}
{% endblock %}
