{% extends 'base.html.twig' %}

{% block title %}Modifier la catégory "{{ typeplat.name }}"{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/style-connexion.css') }}" rel="stylesheet"/> 
{% endblock %}


{% block body %}
    <h1>Modifier la catégorie</h1>

    {{ include('carte/typeplat/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_carte_indexedit') }}">Retour au menu</a>

    {{ include('carte/typeplat/_delete_form.html.twig') }}
{% endblock %}
