{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Admin carte{% endblock %}

{% block body %}
<main>
    <article class="carte carte1">
        <h3>Votre Carte</h3>
        <ul>
        {% for typeplat in typeplats %}    
            <li class="categorie">
                <h3> {{typeplat.name}}</h3>
                <div>
                    {{ include('carte/typeplat/_delete_form.html.twig') }} 
                    <a href="{{ path('app_type_plats_edit', {'id': typeplat.id}) }}"><img src="{{ asset('img/update.png') }}" ></a>
                </div>
            </li> 
            {% for plat in plats %}
                {% if plat.type.name == typeplat.name %}
                <li>
                    <div>
                        <h5> {{ plat.name }} </h5>
                        <p> {{ plat.description }} </p>
                        <p> {{plat.prix }}€ </p>
                    </div>
                    <div>
                        {{ include('carte/plats/_delete_form.html.twig') }}
                        <a href="{{ path('app_plats_edit', {'id': plat.id}) }}"><img src="{{ asset('img/update.png') }}" ></a> 
                    </div>
                </li>
                {% endif %}
            {% endfor %}        
        {% endfor %}
        </ul>
        <a href="{{ path('app_type_plats_new') }}">Nouvelle catégorie</a>
        <a href="{{ path('app_plats_new') }}">Nouveau plat</a>
    </article>
    
    <article class="carte carte2">
        <h3>Vos Menus</h3>
        <ul>
        {% for menu in menuses %}
            <li>
                <h4>{{ menu.name }}</h4>
                <p>{{ menu.description }}</p>
                <ul>
                    {% for formules in menu.formule %}
                        <li>
                            <p>{{ formules.composition }} </p>
                            <p>{{ formules.prix }}€</p>
                        </li>
                    {% endfor %}
                </ul>
                {{ include('carte/menus/_delete_form.html.twig') }}
                <a href="{{ path('app_menus_edit', {'id': menu.id}) }}"><img src="{{ asset('img/update.png') }}" ></a>
            </li>
        {% endfor %}
        </ul>
        <a href="{{ path('app_menus_new') }}">Nouveau menus</a>
        <a href="{{ path('app_formules_index') }}" >gérée les formules</a>
    </article>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modalContent"></div>
        </div>
    </div>
</main>
<style>
    article {
        border: 1px solid;
        margin: 2%;
        list-style: none;
    }

    li {
        list-style: none;
        margin: 4%;
        display:flex;
        justify-content: center;
    }

    .categorie{
        background-color:#3D312D;
        
        
    }
    @media (max-width: 768px) {
      /* Votre style pour les appareils mobiles ici */
    }
    h3 {
        background-color: #3D312D;
        color: #D6BCA5;
        font-family: 'Maitree';
        text-align: center;
    }
    img {
        width: 25px;
    }
    
    form button.btn {border: none;background-color: rgba(0,0,0,0);}

</style>  
        
{% endblock %}





