{% extends 'base.html.twig' %}

{% block title %}Quai Antique - {{ image.name}} - Edit{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/style-connexion.css') }}" rel="stylesheet"/> 
{% endblock %}

{% block body %}
    <h1>Modifier les informations de votre image</h1>

    {{ include('images/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_images_index') }}">back to list</a>

    {{ include('images/_delete_form.html.twig') }}
{% endblock %}
